<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Sport Statistics API - Statistics</title>
 
  <!-- CSS-->

  <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap&" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.4.0/nouislider.css" rel="stylesheet" />
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="/css/flag.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="/css/jquery-cron.css" type="text/css" rel="stylesheet"  />
  <link href="/css/prism.css" rel="stylesheet" />
  <link href="/css/doc.css" rel="stylesheet">
  <link href="/css/stats.css" rel="stylesheet">
  <link href="/css/summary.css" rel="stylesheet">
  <link href="/css/matches.css" rel="stylesheet">
  <link href="/css/league-nav.css" rel="stylesheet">
  
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/jquery-cron-min.js"></script>  
</head>

<body>
  <header>
    <%- include('navbar'); -%>
    <%- include('sidenav'); -%>
</header>  