<%- include('partials/header'); -%>
<main>
  <div class="container doc">
    <div class="row">
      <div class="col s12 m12 xl10">
        <div id="structure1" class="section scrollspy">
          
          <%- include('partials/all_matches'); -%>
        </div>
      </div>
      <div class="col xl2 hide-on-med-and-down show-on-large banner_160x600">
        <img src="/img/banner/160x600_14.gif" alt="" />
      </div>
    </div>
  </div>
</main>
<%- include('partials/footer'); -%>