<%- include('partials/header'); -%>
<main>
  <div class="container doc">
    <div class="row">
      <div class="col s12 m12 xl10">
        <div id="structure1" class="section scrollspy">
          
          <div class="page-info-title" data-aos="fade-down">Leagues Summary</div>

          <%- include('partials/summary'); -%>

          <br>
          <article class="message is-primary" data-aos="fade-right">
            <div class="message-body">
              Average number of statistics data in different football leagues. 
              </br>
              Note: average data calculated per current season.
            </div>
          </article>          
          
        </div>
      </div>
      <div class="col xl2 hide-on-med-and-down show-on-large banner_160x600">
        <img src="/img/banner/160x600_14.gif" alt="" />
      </div>
    </div>
  </div>
</main>
<%- include('partials/footer'); -%>