.fl_145:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/no.07451f4.png)
}
.fl_51:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/cl.f344e7d.png)
}
.fl_201:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/uy.5c2d223.png)
}
.fl_17:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/al.a3737ee.png)
}
.fl_31:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/by.88d711d.png)
}
.fl_62:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/cz.9b37275.png)
}
.fl_77:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/fr.8e1768e.png)
}
.fl_98:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/it.f6dbaba.png)
}
.fl_61:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/cy.62cbdfa.png)
}
.fl_91:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/hu.15156c0.png)
}
.fl_25:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/at.1b5bf4a.png)
}
.fl_83:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/gr.f567796.png)
}
.fl_171:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/sk.f300fca.png)
}
.fl_181:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/se.61cc5af.png)
}
.fl_195:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ua.cac8d4d.png)
}
 .x_17:before,
.fl_225:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/lc.81b5520.png)
}
.fl_22:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ar.b8fb0f4.png)
}
.fl_128:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/mx.75fc59f.png)
}
.fl_200:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/us.af6ad60.png)
}
.fl_198:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/en.e20b07c.png)
}
.fl_41:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/bg.732ac40.png)
}
.fl_63:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/dk.43a3d53.png)
}
.fl_96:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ie.d722133.png)
}
.fl_97:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/il.7c4d1e2.png)
}
.fl_116:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/lt.a731423.png)
}
.fl_81:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/de.ae030da.png)
}
.fl_154:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/pl.4e85471.png)
}
.fl_157:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ro.e7e550c.png)
}
.fl_172:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/si.3071988.png)
}
.fl_182:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ch.36b2207.png)
}
.fl_207:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/wa.768307e.png)
}
.fl_170:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/sg.3e6659b.png)
}
.fl_39:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/br.0773223.png)
}
.fl_152:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/pe.c9d12b3.png)
}
.fl_153:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ph.9fd154a.png)
}
.fl_100:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/jp.85adde7.png)
}
.fl_32:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/be.200ca41.png)
}
.fl_59:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/hr.3094aac.png)
}
.fl_76:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/fi.ef6ec7d.png)
}
.fl_92:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/is.efb9c8f.png)
}
.fl_110:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/lv.7e32c16.png)
}
.fl_139:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/nl.d5aaaf9.png)
}
.fl_155:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/pt.a6d8c88.png)
}
.fl_158:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ru.8f6f45b.png)
}
.fl_199:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/sc.a2615a8.png)
}
.fl_176:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/es.4dc0e44.png)
}
.fl_191:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/tr.4b3a6e6.png)
}
.fl_24:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/au.af92b82.png)
}
.fl_02:before,
.fl_1:before,
.fl_2:before,
.fl_290:before,
.fl_292:before,
.fl_3:before,
.fl_4:before,
.fl_450:before,
.fl_451:before,
.fl_453:before,
.fl_5:before,
.fl_6:before,
.fl_7:before,
.fl_8:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/world.b7d16db.png)
}
.fl_53:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/co.bd4004d.png)
}
.fl_47:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ca.fc9cd74.png)
}
.fl_52:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/cn.4a736e0.png)
}
.fl_167:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/rs.1888ac6.png)
}
.fl_118:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/mk.68038ed.png)
}
.fl_85:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/gt.aebcad1.png)
}
.fl_73:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ee.e4fd420.png)
}
.fl_68:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ec.23e24c3.png)
}
.fl_57:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/cr.975e3f3.png)
}
.fl_37:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ba.ef8152e.png)
}
.fl_175:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/za.ba6e79c.png)
}
.fl_23:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/am.8683d58.png)
}
.fl_69:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/eg.454de95.png)
}
.fl_231:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/fo.30cd8ca.png)
}
.fl_82:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/gh.66c35b7.png)
}
.fl_95:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/iq.bbabfc6.png)
}
.fl_94:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ir.37393cc.png)
}
.fl_101:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/jo.a2000fc.png)
}
.fl_102:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/kz.ff7c698.png)
}
.fl_103:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ke.7996ce3.png)
}
.fl_119:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/mg.efb5609.png)
}
.fl_121:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/my.92e902e.png)
}
.fl_130:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/md.4b3b05f.png)
}
.fl_135:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/mz.77fb219.png)
}
.fl_166:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/sn.73fd485.png)
}
.fl_144:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/nirl.dab832b.png)
}
.fl_183:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/sy.d03aea6.png)
}
 .x_87:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/kp.0b907a0.png)
}
.fl_194:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ug.0d08a07.png)
}
.fl_185:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/tz.59248be.png)
}
.fl_187:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/tg.d18c581.png)
}
.fl_18:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/dz.22de18d.png)
}
.fl_70:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/sv.d736694.png)
}
.fl_90:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/hn.dded0b0.png)
}
.fl_36:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/bo.ea98c29.png)
}
.fl_222:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/hk.9698f8f.png)
}
.fl_107:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/gaza.d0a28e2.png)
}
.fl_117:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/lu.1287b7c.png)
}
.fl_151:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/py.e8dc677.png)
}
.fl_134:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ma.334cbf5.png)
}
.fl_133:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/me.d998179.png)
}
.fl_156:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/qa.b50f83a.png)
}
.fl_124:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/mt.aa09961.png)
}
.fl_186:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/th.3905d0c.png)
}
.fl_190:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/tn.562a56d.png)
}
.fl_26:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/az.bc4f7e0.png)
}
.fl_205:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ve.77f931d.png)
}
.fl_28:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/bh.b289034.png)
}
.fl_80:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ge.caaface.png)
}
.fl_196:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ae.b1cead9.png)
}
.fl_106:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/kr.9898914.png)
}
.fl_111:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/lb.4c12953.png)
}
.fl_146:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/om.5424450.png)
}
 .x_114:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/bd.00ee140.png)
}
.fl_206:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/vn.22020a7.png)
}
.fl_19:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ad.599e073.png)
}
.fl_46:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/cm.3ab7050.png)
}
.fl_178:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/sd.8f5092a.png)
}
.fl_93:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/in.309fc53.png)
}
.fl_228:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/id.c98128a.png)
}
.fl_114:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ly.235e40b.png)
}
.fl_136:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/na.a27c124.png)
}
.fl_208:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ye.3893abc.png)
}
.fl_202:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/uz.d3ce22b.png)
}
.fl_140:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/nz.0d3df64.png)
}
.fl_189:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/tt.80301c4.png)
}
.fl_210:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/zw.5c66198.png)
}
.fl_165:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/sa.362eacf.png)
}
.fl_20:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ao.04e8852.png)
}
.fl_143:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ng.f640696.png)
}
.fl_197:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/uk.744b9b5.png)
}
.fl_55:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/cg.9c3f4eb.png)
}
 .x_132:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/uk.744b9b5.png)
}
 .x_133:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ph.9fd154a.png)
}
.fl_99:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/jm.5dd1b1d.png)
}
.fl_131:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/mc.714b30f.png)
}
.fl_218:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/tw.d0e5bcf.png)
}
.fl_221:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/fr.8e1768e.png)
}
.fl_64:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/dj.d0a0236.png)
}
.fl_149:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/pa.e71c0fd.png)
}
.fl_109:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/la.e2b9259.png)
}
.fl_169:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/sl.bfd141a.png)
}
.fl_237:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/fr.8e1768e.png)
}
.fl_89:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ht.d4c9def.png)
}
.fl_177:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/lk.8910734.png)
}
.fl_163:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/sm.75eec5a.png)
}
.fl_66:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/do.a9e6ade.png)
}
.fl_29:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/bd.00ee140.png)
}
.fl_147:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/pk.483d2ac.png)
}
.fl_48:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/cv.346be62.png)
}
.fl_60:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/cu.4b34a92.png)
}
.fl_58:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ci.a018569.png)
}
.fl_209:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/zm.6c04366.png)
}
.fl_123:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ml.3de6670.png)
}
.fl_79:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/gm.a994edc.png)
}
.fl_300:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/cw.b471510.png)
}
.fl_42:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/bf.9ed120a.png)
}
.fl_86:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/gn.1ff0996.png)
}
.fl_71:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/gq.e25177d.png)
}
.fl_174:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/so.b17d712.png)
}
.fl_74:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/et.399035d.png)
}
.fl_78:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ga.eeea7ba.png)
}
.fl_54:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/km.d81bad8.png)
}
.fl_21:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ag.cc45fb9.png)
}
.fl_34:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/bj.fcf2523.png)
}
.fl_56:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/cd.dcd1266.png)
}
.fl_159:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/rw.a5b9f2c.png)
}
.fl_236:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/pr.26084f0.png)
}
.fl_230:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/bm.b1288c2.png)
}
.fl_30:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/bb.e47180a.png)
}
.fl_50:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ro.e7e550c.png)
}
.fl_180:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/sz.e89d425.png)
}
.fl_44:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/bi.0c1ef88.png)
}
.fl_164:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/st.7efe595.png)
}
.fl_112:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ls.d1484ad.png)
}
.fl_72:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/er.85b37e5.png)
}
.fl_49:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/cf.ff08a36.png)
}
.fl_113:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/lr.bf604c4.png)
}
.fl_120:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/mw.4bd3222.png)
}
.fl_45:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/kh.ef1e827.png)
}
.fl_138:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/np.e8631e7.png)
}
.fl_215:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ps.c8ff70e.png)
}
.fl_16:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/af.9967794.png)
}
.fl_67:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/tp.e1683fd.png)
}
.fl_192:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/tm.c0c626b.png)
}
.fl_233:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/mo.e94febd.png)
}
.fl_43:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/bar.a1bf069.png)
}
.fl_105:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/kp.0b907a0.png)
}
.fl_184:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/tj.303521f.png)
}
.fl_115:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/li.b61ace1.png)
}
.fl_88:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/gy.7dc40a1.png)
}
.fl_243:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ai.ea6646d.png)
}
.fl_84:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/gre.bbe1f1b.png)
}
.fl_160:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/kn.1570816.png)
}
.fl_38:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/bw.3a96bc5.png)
}
.fl_27:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/bs.82c5742.png)
}
.fl_33:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/bz.a5cfd4e.png)
}
.fl_35:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/bt.b64068e.png)
}
.fl_40:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/bn.a082ed2.png)
}
.fl_65:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/dm.fb6e4cc.png)
}
.fl_75:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/fj.6677df6.png)
}
.fl_87:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/gw.e0a776b.png)
}
.fl_104:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ki.20b2ce8.png)
}
.fl_108:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/kg.3982ea9.png)
}
.fl_122:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/mv.1a03f8d.png)
}
.fl_125:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/mh.6475830.png)
}
.fl_126:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/mr.6770aa6.png)
}
.fl_127:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/mu.ac1214a.png)
}
.fl_129:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/fm.467643b.png)
}
.fl_132:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/mn.a3971cc.png)
}
.fl_137:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/nr.2f41fbd.png)
}
.fl_141:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ni.438cde3.png)
}
.fl_142:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ne.da27954.png)
}
.fl_148:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/pw.368bebc.png)
}
.fl_150:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/pap.c902fd5.png)
}
.fl_161:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/vc.a7b6c0c.png)
}
.fl_162:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/sam.87bd36e.png)
}
.fl_168:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/sch.4cb13a5.png)
}
.fl_173:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/sb.e2542f3.png)
}
.fl_179:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/sur.501a84a.png)
}
.fl_188:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/to.18b6658.png)
}
.fl_203:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/vu.76fd39e.png)
}
.fl_204:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/va.54e40c7.png)
}
.fl_211:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ge.caaface.png)
}
.fl_223:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/cay.8ca1d5b.png)
}
.fl_229:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/aw.c94edd0.png)
}
.fl_232:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/gu.928cc18.png)
}
.fl_234:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ms.f9927c4.png)
}
.fl_238:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/tur.96cba3c.png)
}
.fl_239:before,
.fl_241:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/an.d4c2945.png)
}
.fl_242:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/as.65aebbd.png)
}
.fl_244:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ck.d97f781.png)
}
.fl_245:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/nc.bdb0933.png)
}
.fl_304:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/gi.314ae74.png)
}
.fl_212:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/xk.a1504d1.png)
}
.fl_226:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/pf.809d06b.png)
}
.fl_305:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/im.6de1337.png)
}
.fl_407:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/ss.b7367d5.png)
}
.fl_240:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/im.6de1337.png)
}
.fl_254:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/zanz.3349ca8.png)
}
.fl_255:before,
.fl_256:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/fr.8e1768e.png)
}
.fl_259:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/nu.3e6f858.png)
}
.fl_287:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/pf.809d06b.png)
}
.fl_452:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/je.7873aba.png)
}
.fl_483:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/gl.6a5a551.png)
}
.fl_495:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/gue.39c249e.png)
}
.fl_496:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/cat.1868be3.png)
}

.fl_4647020:before,
.fl_7400:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/_wow.d50b962.png)
}
.fl_3473168:before,
.fl_7401:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/_cs.7294478.png)
}
.fl_3473169:before,
.fl_7402:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/_dota.fe650d6.png)
}
.fl_3473171:before,
.fl_7403:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/_star.35187a4.png)
}
.fl_3473170:before,
.fl_7404:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/_lol.3701f06.png)
}
.fl_7613333:before,
.fl_90270:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/_heart.8d1049d.png)
}
.fl_7613334:before,
.fl_90280:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/_over.96879bc.png)
}
.fl_12390:before,
.fl_15836321:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/_fifa.c1e284b.png)
}
.fl_12438:before,
.fl_15836322:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/_rocket.2a7aac3.png)
}
.fl_12534:before,
.fl_15836323:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/_nhl.8b29690.png)
}
.fl_12535:before,
.fl_15836324:before {
  background-image:url(https://www.soccer24.com/res/_fs/build/_nba.9bfd76c.png)
}


